{% extends "layout.html" %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block title %}
    Congrats!
{% endblock %}

{% block main %}
    <div class="congrats-container">
        <h1>Congratulations!</h1>
        {% if guess_count == 1 %}
            <h2>You guessed the player correctly in 1 try</h2>
        {% else %}
            <h2>You guessed the player correctly in {{ guess_count }} tries</h2>
        {% endif %}
        <a href="{{ player_link }}" class="player-name" target="_blank">{{ player_name }}</a>
        {% if image_url %}
            <img src="{{ image_url }}" alt="Player Image" class="player-image">
        {% endif %}
        <p>Visit the main page again for another round!</p>
    </div>
    <div class="confetti"></div>
{% endblock %}
