{% extends "layout.html" %}

{% block title %}
    Game Over
{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block main %}
<div class="container-fluid">
    <div class="failure-container">
        <h1>Game Over</h1>
        <p>Sorry, you've used all 8 guesses. The correct player was</p>
        <a href="{{ player_link }}" target="_blank">
            <strong>{{ player_name }}</strong>
        </a>
        <img src="{{ image_url }}" alt="Player Image" class="player-image">
        <p>Better luck next time</p>
        
        <div class="play-again-section">
            <a href="/reset" class="btn-play-again">Play Another Round</a>
        </div>
    </div>
</div>
{% endblock %}